.bg-container {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
}

.job-item-detail-card-container {
  padding: 30px 40px;
}

.job-item-full-details-main-container {
  background-color: #272727;
  padding: 25px;
  margin: 20px 0;
  border-radius: 15px;
  list-style: none;
  color: white;
}

.job-details-logo-name-rating-container {
  display: flex;
}

.job-details-logo-container img {
  height: 70px;
  margin-right: 15px;
}

.job-details-name-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-details-name-rating-container h1 {
  font-size: 1.5rem;
}

.star-tag {
  color: #fbbf24;
  margin-right: 3px;
}

.job-details-location-type-package-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.job-details-location-type-container {
  display: flex;
}

.job-details-location-container {
  margin-right: 10px;
}

.react-icon-location {
  margin-right: 3px;
}

.react-icon-type {
  margin-right: 5px;
}

.job-description-container {
  margin-top: 15px;
}

.job-description-heading-container h1 {
  font-size: 1.3rem;
  font-weight: 400;
}

.job-description-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-description-heading-container a {
  text-decoration: none;
  cursor: pointer;
}

.job-description-container p {
  margin-top: 10px;
  line-height: 1.6rem;
}

.job-details-skills-container h1 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 50px;
}

.job-details-skills-container ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.life-at-company-container {
  margin-top: 50px;
}

.life-at-company-container h1 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.life-at-company-container div {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.life-at-company-container div p {
  max-width: 700px;
  line-height: 1.6rem;
}

.similar-jobs-cards-container {
  display: flex;
}
